* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-family: "Red Hat Display", sans-serif;
}

.banner1 {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    width: auto;
}
.bannerL {
    /* border: 1px solid green; */
    display: block;
    width: 50%;
    height: auto;
}
.bannerR {
    width: 50%;
    display: flex;
    align-items: center;
    /* border: 1px solid violet; */
}
.bannerText1 {
    /* border: 1px solid red; */
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 800;
    /* font-size: 64px; */
    font-size: 4.16vw;
    line-height: 84px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-right: 51px;
    margin-top: 82px;
}
.button1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    align-items: center;
    padding: 16px 40px;
    background: #ff6433;
    border-radius: 12px;
    margin-top: 32px;
    border: none;
    cursor: pointer;
}
.bannerPart3 {
    /* border: 1px solid rebeccapurple; */
    margin-top: 48px;
    display: flex;
}
.bannerClockIcon {
    display: flex;
    align-items: center;
}
.clockIconImg {
    height: 30px;
    width: 30px;
}
.iconText {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.bannerImg {
    max-height: auto;
    width: 100%;
}
.iconText {
}
.iconText1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #939191;
}
.iconText2 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
}
/* 22222222222222222222222222222222222 */
.section2 {
    /* border: 1px solid indigo; */
    background: #e2e6e9;
}
.content2 {
    /* border: 1px solid violet; */
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 128px;
    margin-bottom: 128px;
    padding-top: 128px;
    padding-bottom: 128px;
    height: auto;
    width: auto;
}
.quoteL {
    /* border: 1px solid red; */

    display: block;
    width: 50%;
}
.quoteText1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 800;
    /* font-size: 58px; */
    font-size: 3.77vw;
    line-height: 76px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.quoteFeature {
    max-width: 385px;
    height: auto;
    margin-top: 37px;
}
.f1Text {
    display: flex;
    align-items: center;
}
.fImg {
    height: 47px;
    width: 47px;
}
.f1Text1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-left: 16px;
}
.f1Text2 {
    /* border: 1px solid red; */
    width: 70%;
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1e1b1b;
    opacity: 0.6;
    margin-left: 65px;
}
.quoteEndText {
    display: flex;
    margin-top: 32px;
}
.endText {
    margin-left: 65px;
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
}
.endTextImg {
    width: 52px;
    margin-left: 10px;
}

.quoteR {
    display: block;
    max-width: 50%;
}
.quoteRText1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 3.12vw;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-bottom: 32px;
}
.inputBox {
    background: #ffffff;
    border-radius: 2px;
    height: 72px;
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: none;
}
::placeholder {
    font-size: 16px;
    color: #1e1b1b;
    opacity: 0.5;
}

.section3 {
    background: #f2f2f2;
    padding-top: 128px;
    padding-bottom: 128px;
}
.whatWeOffer {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.s4Heading2 {
    display: flex;
    justify-content: center;
}
.h2Text1 {
    font-style: normal;
    width: 60%;
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-top: 8px;
}
.grid {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 64px;
}
.g1 {
    background: #ffffff;
    width: 316px;
    height: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.g1:hover {
    background: #ff6433;
}
.g1Img1 {
    width: 50px;
    height: 50px;
    color: black;
}
.g1Text1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.s3EndText {
    margin-top: 32px;
    float: right;
    margin-right: 320px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
}
.section4 {
    padding-top: 128px;
    padding-bottom: 128px;
    background: #e2e6e9;
}
.faqText1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.faqCards {
    margin-top: 95px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.card {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}
.cardQue {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.card img {
    width: 50px;
    height: 50px;
}
/* 5555555555555555555555 */
.section5 {
    display: block;
    background: #f2f2f2;
    mix-blend-mode: multiply;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    padding-top: 128px;
    padding-bottom: 128px;
}
.slider5 {
    
}
.sliderText {
    /* border: 1px solid darkred; */
    display: flex;
    justify-content: center;
}
.sliderText1 {
    width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.innerSlider {
    display: flex;
    margin-top: 94px;
    /* overflow: hidden; */
}

.sliderArrowLeft {
    height: 50px;
}
.sliderArrowRight {
    height: 50px;
    transform: rotate(180deg);
}
.iiSlider {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    gap: 48px;
    position: relative;
}
.slide {
    display: block;
    width: 580px;
    height: 376px;
    background: #ffffff;
    border: 1px solid rgba(172, 172, 172, 0.29);
    box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
}
.slideNameDiv {
    display: flex;
    align-items: center;
    margin-left: 72px;
    margin-top: 62px;
}
.perImg {
    width: 64px;
    height: 64px;
    border-radius: 151px;
}
.name {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.personName {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.personLocation {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #939191;
}
.slideDescription {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 20px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* user-select: none; */
}
.prev:hover,
.next:hover {
    background-color: rgba(160, 150, 150, 0.8);
    border-radius: 50%;
}
.next{
    position: absolute;
    right: 0;
}
