* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-family: "Red Hat Display", sans-serif;
}
.nav {
    display: flex;
    height: 90px;
    /* position: fixed; */
}
.navL {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.navLogo {
    margin-left: -170px;
    width: 120px;
    height: 27px;
}

.navR {
    width: 50%;
    display: flex;
    align-items: center;
}
.navR a {
    text-decoration: none;
    padding: 20px;
}
.headerLinks {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1e1b1b;
}
hr {
    height: 42px;
    margin-right: 20px;
    border: 1px solid #939191;
    opacity: 0.36;
}
.roadAssistance {
    display: flex;
    align-items: center;
}
.raImg {
    height: 40px;
    width: 40px;
}
.assistance {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}
.raText1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1e1b1b;
    opacity: 0.7;
}
.raText2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
}

/* 1111111111111111111111 */
.banner1 {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    width: auto;
}
.bannerL {
    /* border: 1px solid green; */
    display: block;
    width: 50%;
    height: auto;
}
.bannerR {
    width: 50%;
    display: flex;
    align-items: center;
    /* border: 1px solid violet; */
}
.bannerText1 {
    /* border: 1px solid red; */
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 800;
    /* font-size: 64px; */
    font-size: 4.16vw;
    line-height: 84px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-right: 51px;
    margin-top: 82px;
}
.button1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    align-items: center;
    padding: 16px 40px;
    background: #ff6433;
    border-radius: 12px;
    margin-top: 32px;
    border: none;
    cursor: pointer;
}
.bannerPart3 {
    /* border: 1px solid rebeccapurple; */
    margin-top: 48px;
    display: flex;
}
.bannerClockIcon {
    display: flex;
    align-items: center;
}
.clockIconImg {
    height: 30px;
    width: 30px;
}
.iconText {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.bannerImg {
    max-height: auto;
    width: 100%;
}
.iconText {
}
.iconText1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #939191;
}
.iconText2 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
}
/* 22222222222222222222222222222222222 */
.section2 {
    /* border: 1px solid indigo; */
    background: #e2e6e9;
}
.content2 {
    /* border: 1px solid violet; */
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 128px;
    /* margin-bottom: 128px; */
    padding-top: 128px;
    padding-bottom: 128px;
    height: auto;
    width: auto;
}
.quoteL {
    /* border: 1px solid red; */

    display: block;
    width: 50%;
}
.quoteText1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 800;
    /* font-size: 58px; */
    font-size: 3.77vw;
    line-height: 76px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.quoteFeature {
    max-width: 385px;
    height: auto;
    margin-top: 37px;
}
.f1Text {
    display: flex;
    align-items: center;
}
.fImg {
    height: 47px;
    width: 47px;
}
.f1Text1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-left: 16px;
}
.f1Text2 {
    /* border: 1px solid red; */
    width: 70%;
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1e1b1b;
    opacity: 0.6;
    margin-left: 65px;
}
.quoteEndText {
    display: flex;
    margin-top: 32px;
}
.endText {
    margin-left: 65px;
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
}
.endTextImg {
    width: 52px;
    margin-left: 10px;
}

.quoteR {
    display: block;
    max-width: 50%;
}
.quoteRText1 {
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 3.12vw;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-bottom: 32px;
}
.inputBox {
    background: #ffffff;
    border-radius: 2px;
    height: 72px;
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: none;
}
::placeholder {
    font-size: 16px;
    color: #1e1b1b;
    opacity: 0.5;
}

.section3 {
    background: #f2f2f2;
    padding-top: 128px;
    padding-bottom: 128px;
}
.whatWeOffer {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.s4Heading2 {
    display: flex;
    justify-content: center;
}
.h2Text1 {
    font-style: normal;
    width: 60%;
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-top: 8px;
}
.grid {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 64px;
}
.g1 {
    background: #ffffff;
    width: 316px;
    height: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.g1:hover {
    background: #ff6433;
}
.g1Img1 {
    width: 50px;
    height: 50px;
    color: black;
}
.g1Text1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.s3EndText {
    margin-top: 32px;
    float: right;
    margin-right: 320px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
}
.section4 {
    padding-top: 128px;
    padding-bottom: 128px;
    background: #e2e6e9;
}
.faqText1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.faqCards {
    margin-top: 95px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.card {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}
.cardQue {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.card img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}
/* 5555555555555555555555 */
.section5 {
    display: block;
    background: #f2f2f2;
    mix-blend-mode: multiply;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    padding-top: 128px;
    padding-bottom: 128px;
}

.sliderText {
    /* border: 1px solid darkred; */
    display: flex;
    justify-content: center;
}
.sliderText1 {
    width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.swiper {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 94px;
    position: relative;
}
.swiperWrapper {
    /* border: 1px solid green; */
    display: flex;
    gap: 40px;
    width: 1210px;
    overflow: hidden;
}

.swiperSlide {
    /* border: 1px solid blue; */
    display: block;
    min-width: 580px;
    height: 376px;
    background: #ffffff;
    border: 1px solid rgba(172, 172, 172, 0.29);
    box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
}
.slideNameDiv {
    display: flex;
    align-items: center;
    margin-left: 72px;
    margin-top: 62px;
}
.perImg {
    width: 64px;
    height: 64px;
    border-radius: 151px;
}
.name {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.personName {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.personLocation {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #939191;
}
.slideDescription {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1e1b1b;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 20px;
}
.prev,
.next {
    display: flex;
    align-content: center;
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    font-weight: bold;
    transition: 0.3s ease;
}
.prev:hover,
.next:hover {
    background: #1e1b1b;
    border-radius: 50%;
    transform: scale(1.2);
}
.prev {
    left: 40px;
}
.next {
    right: 40px;
}
.sliderArrowLeft {
    height: 50px;
}
.sliderArrowRight {
    height: 50px;
    transform: rotate(180deg);
}
/* 666666666666666666666666666666 */
.section6 {
    background: #ffffff;
}
.blogDiv {
    padding-top: 126px;
    padding-bottom: 126px;
    padding-left: 15%;
    padding-right: 15%;
}
.blogTitle {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1e1b1b;
}
.blogItems {
    padding-top: 90px;
    display: flex;
    gap: 32px;
}
.item {
    display: flex;
    flex-direction: column;
    width: 405px;
    height: 606px;
}
.itemImg {
    width: 100%;
}
.itemDate {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #939191;
    margin-top: 24px;
}
.itemHeading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.03em;
    margin-top: 16px;
    color: #1e1b1b;
}
.itemDescription {
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
    padding-right: 10px;
}
/* 77777777777777777777 */
.section7 {
    background: #1e1b1b;
    opacity: 0.98;
    padding-top: 128px;
    padding-bottom: 128px;
}
.contact {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}
.contactL {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contactR {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.getInTouch {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
}
.touchText {
    width: 80%;
}
.social {
    display: flex;
    margin-top: 64px;
    gap: 24px;
}
.social a {
    height: 24px;
    width: 24px;
}
.helpline,
.address,
.weAreOpen {
    display: flex;
    flex-direction: column;
}
.rText1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #ffffff;
    opacity: 0.6;
}
.rText2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #ffffff;
}
/* 888888888888 */
.section8 {
    background: #1e1b1b;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 157px;
}
.c1 {
    width: 30%;
    display: flex;
    justify-content: center;
}
.logo {
    height: 27px;
    width: 121px;
}
.c2 {
    width: 45%;
    display: flex;
    justify-content: center;
    gap: 36px;
}
.c2 a {
    text-decoration: none;
}
.c2Text2 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    cursor: pointer;
}
.c3 {
    width: 35%;
    display: flex;
    justify-content: center;
}
.c3Text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #939191;
}
